.blog {
  width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.blog .blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.blog .blog-title span {
  font-size: 2rem;
  color: #a53e4c;
  font-family: "Great vibes", cursive;
}

.blog .blog-title h2 {
  font-size: 3rem;
  color: #111;
}

.blog .blog-title p {
  font-size: 1.125rem;
  color: #777;
  max-width: 500px;
  text-align: center;
  line-height: 1.725rem;
}
