:root {
  --primary-background: #f8f5f2;
  --gray-background: #212121;
  --primary-color: #7d0209;
  --secondary-color: #93524c;
  --title-gray: #363636;
  --light-text: #fff;
  --gray-text: #7d7d7d;
  --gray-border: #e5e5e5;
}
