.cta {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.cta-bg {
  background: linear-gradient(
    180deg,
    var(--primary-background) 50%,
    var(--gray-background) 50%
  );
}

.cta-inner-bg {
  margin: 0 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/cta-bg.jpg") center center/cover no-repeat;
  background-attachment: fixed;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.cta .cta-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta .cta-title span,
.cta .cta-title h2 {
  color: var(--gray-border);
  display: flex;
  justify-content: center;
  align-self: center;
}

.cta .btn-container {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.cta .btn-container a {
  color: var(--gray-border);
  font-size: 1rem;
  padding: 0;
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
}
