.featured-bg {
  background-color: var(--light-text);
}

.featured {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.featured .title-container h2 {
  text-transform: uppercase;
}

.featured .wine-types {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
}

.featured .wine-types li:hover {
  color: var(--primary-color);
}

.featured .wines-container {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  justify-content: center;
  width: 100%;
  margin: 0 4rem;
  margin-top: 4rem;
  gap: 2rem;
}

.featured .wines-container .wine .wine-img {
  border: 1px solid var(--gray-border);
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.featured .wines-container .wine .wine-img:before,
.featured .wines-container .wine .wine-img:after {
  position: absolute;
  content: "";
  z-index: -1;
  left: -1px;
  top: -1px;
  bottom: auto;
  right: auto;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
}

.featured .wines-container .wine .wine-img img {
  transition: all 0.3s ease-in-out;
}

.featured .wines-container .wine:hover .wine-img img {
  transform: scale(1.05);
}

.featured .wines-container .wine .wine-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 0.4rem;
  color: var(--gray-text);
  transition: all 0.3s ease-in-out;
}

.featured .wines-container .wine:hover .wine-info,
.featured .wines-container .wine:hover .wine-info span {
  color: var(--primary-color);
}

.featured .wines-container .wine .wine-info div {
  display: flex;
  justify-content: space-between;
}

.featured .wines-container .wine .wine-info div span {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.125rem;
}

.featured .button-secondary {
  margin-top: 4rem;
}

.wine:hover .img-rose:before {
  -webkit-animation: animate-rose 1s linear forwards;
  animation: animate-rose 1s linear forwards;
}

.wine:hover .img-rose:after {
  -webkit-animation: animate-rose-2 1s linear forwards;
  animation: animate-rose-2 1s linear forwards;
}

.wine:hover .img-white:before {
  -webkit-animation: animate-white 1s linear forwards;
  animation: animate-white 1s linear forwards;
}

.wine:hover .img-white:after {
  -webkit-animation: animate-white-2 1s linear forwards;
  animation: animate-white-2 1s linear forwards;
}

.wine:hover .img-red:before {
  -webkit-animation: animate-red 1s linear forwards;
  animation: animate-red 1s linear forwards;
}

.wine:hover .img-red:after {
  -webkit-animation: animate-red-2 1s linear forwards;
  animation: animate-red-2 1s linear forwards;
}

@media (max-width: 1425px) {
  .featured .wines-container {
    grid-template-columns: repeat(4, 240px);
  }
}

@media (max-width: 1200px) {
  .featured .wines-container {
    grid-template-columns: repeat(2, 310px);
  }
}

@media (max-width: 780px) {
  .featured .wines-container {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (max-width: 580px) {
  .featured .wines-container {
    grid-template-columns: repeat(1, 310px);
  }
}

@media (max-width: 360px) {
  .featured .wines-container {
    grid-template-columns: repeat(1, 240px);
  }
}
