.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  z-index: 11;
}

.header .menu-principal ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FAF9F4;
}

.header .menu-principal ul li:hover {
  color: #c5c5c5;
}

.header .menu-shop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
}