.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  gap: 2rem;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header .menu-principal ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #faf9f4;
}

.header .menu-principal ul li:hover {
  color: #c5c5c5;
}

.header .menu-shop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
}

@media (max-width: 1100px) {
  .header {
    padding: 1rem 1rem;
  }

  .header .menu-principal ul{
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .header .menu-principal {
    display: none;
  }
}

@media (max-width: 600px) {
  .header .logo {
    width: 80px;
  }
}