.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.8s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.slide.active {
  opacity: 1;
  z-index: 10;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
  color: var(--light-text);
  width: 1400px;
  margin: 0 auto;
  padding: 0 4rem;
}

.hero .hero-content h1 {
  font-size: 5rem;
  font-weight: 300;
  max-width: 800px;
  color: var(--light-text);
}

.hero .hero-content span {
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .hero .hero-content {
    padding: 0 2rem;
    max-width: 600px;
  }

  .hero .hero-content h1 {
    font-size: 3rem;
  }

  .hero .button-primary {
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .hero .hero-content h1 {
    font-size: 2rem;
    max-width: 350px;
  }
}
