* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-background);
  font-family: "Barlow", sans-serif;
  color: var(--title-gray);
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.8rem;
  color: var(--title-gray);
  letter-spacing: 7px;
  text-align: center;
}

.title-2 {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 5px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button-primary {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0;
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  border: 1px solid var(--primary-color);
}

.button-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-text);
}

.button-secondary {
  display: inline-block;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: 1px solid var(--primary-color);
  /* text-transform: uppercase; */
  transition: 0.5s ease;
}

.button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--light-text);
}
