* {
  box-sizing: border-box;
}

body {
  background-color: #f8f5f2;
  font-family: "Barlow", sans-serif;
}

.title {
  font-family: "Philosopher", serif;
}

.title-2 {
  font-family: "Cormorant Garamond", serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button-primary {
  display: inline-block;
  background-color: #b36d67;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #93524c;
}

.button-secondary {
  display: inline-block;
  background-color: #fff;
  color: #b36d67;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: 1px solid #b36d67;
  text-transform: uppercase;
}

.button-secondary:hover {
  background-color: #93524c;
  color: #fff;
}
