* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-background);
  font-family: "Barlow", sans-serif;
  color: var(--title-gray);
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.225rem;
  color: var(--title-gray);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title-2 {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button-primary {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--light-text);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: var(--secondary-color);
}

.button-secondary {
  display: inline-block;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
}

.button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--light-text);
}
