.welcome {
  width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 820px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(/img/welcome-bg.png) center center no-repeat;
}

.welcome .welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #7c7673;
}

.welcome .welcome-text h2 {
  text-transform: uppercase;
}

.welcome .welcome-text p {
  max-width: 450px;
  line-height: 1.8rem;
  text-align: center;
}

.welcome-img {
  position: relative;
}

.welcome-img .barrel {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 0;
}

.welcome-img .wine {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  z-index: 0;
}

.welcome-img img {
  border-radius: 2px;
}