.price-subs-bg {
  background-color: white;
  padding: 4rem 0;
}

.cards-subs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.price-subs {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 4rem;
}

.card-subs {
  width: 400px;
  background-color: white;
  border: 1px solid #f4e5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-subs .card-subs-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0px;
}

.card-subs .card-subs-title h3 {
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: light;
  color: var(--primary-color);
  line-height: 120%;
}

.card-subs .card-subs-title span {
  font-size: 1.125rem;
}

.card-subs .card-subs-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  padding: 36px 0;
  gap: 8px;
  width: 100%;
  background-color: #f8f5f2;
}

.card-subs .card-subs-price .subs-price h2 {
  font-size: 5rem;
  display: flex;
  align-items: start;
}

.card-subs .card-subs-price .subs-price h2 span {
  font-size: 1.5rem;
  margin-top: 12px;
}

.card-subs .card-subs-price .subs-price p {
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  margin-top: 4px;
}

.card-subs .card-subs-price ul {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.card-subs a {
  margin: 32px 0 48px 0;
  padding: 26px 52px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.card-subs a:hover {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.card-subs .tag-popular {
  position: absolute;
  right: 0;
}

.cards-subs .info-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.cards-subs .info-card:first-of-type {
  justify-self: end;
}

.cards-subs .info-card {
  padding: 52px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards-subs .title-info span {
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cards-subs .title-info h3 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 130%;
}
