.related-products-single {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.related-products-single .title-related {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.related-products-single-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

.related-product-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: var(--primary-background);
  padding: 30px 50px;
}

.related-product-single div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.related-product-single div h4 {
  font-size: 1.5rem;
}

.related-product-single div span {
  font-size: 1rem;
  color: var(--wine-color);
}

.related-product-single a {
  background-color: var(--wine-color);
}
