.page-blog .hero-blog {
  position: relative;
  height: 400px;
  text-align: center;
}

.page-blog .hero-container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/page-blog/hero-blog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-blog .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-blog .hero-content h1 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}
